.fs-help-wrapper {
  margin-top: 0.8rem;
}

.fs-help-page-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: $site-color-1;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 119.6rem;
}

.fs-help-page-content {
  width: 100%;
  max-width: 119.6rem;
  margin-bottom: 11rem;

  h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: $secondary-color-3;
    margin-top: 0;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: $secondary-color-3;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3, h4, h5, h6 {
    font-size: 1.8rem;
    line-height: 2.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: $secondary-color-3;
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;
    padding-bottom: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.4rem;
    padding-bottom: 1.2rem;
    padding-left: 3.6rem;
    list-style: none;

    li {
      &:before {
        content: "";
        position: absolute;
        top: 0.5rem;
        left: -3.1rem;
        border-bottom: 0.2rem solid #DAA520;
        border-left: 0.2rem solid #DAA520;
        transform: rotate(-45deg);
        display: block;
        width: 1.4rem;
        height: 0.6rem;
      }
    }
  }

  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 1.2rem;
    padding-left: 3.6rem;
    list-style: none;
    counter-reset: help-content-ol;

    li {
      &:before {
        counter-increment: help-content-ol;
        content: counter(help-content-ol) ".";
        position: absolute;
        left: -3.1rem;
        top: 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $secondary-color-3;
      }
    }
  }

  li {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 1.2rem;
    }
  }
}