.fs-home-page-banner-list {
  width: calc(100% + 2.4rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.fs-home-page-banner {
  margin-bottom: 2.4rem;
  display: block;
  border-radius: 0.4rem;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.micro-banner {
    width: calc(33.333% - 2.4rem);
    margin-right: 2.4rem;

    &:after {
      content: "";
      position: relative;
      display: block;
      padding-top: 56.375%;
    }
  }

  &.macro-banner {
    width: calc(50% - 2.4rem);
    margin-right: 2.4rem;

    &:after {
      content: "";
      position: relative;
      display: block;
      padding-top: 42.608%;
    }
  }

  &.mega-banner {
    width: calc(66.666% - 2.4rem);
    margin-right: 2.4rem;
  }

  &.huge-banner {
    width: calc(100% - 2.4rem);
    margin-right: 2.4rem;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}