//Header -- Start

.fs-header {
  width: 100%;
  height: 7.8rem;
  box-shadow: 0 0.2rem 0.4rem rgba(155, 149, 140, 0.2);
  background-color: $revert-color;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 8;

  &.not-fixed {
    position: relative;
  }

  .fs-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.fs-brand-panel {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fs-logo {
  width: 7.6rem;
  height: 3.7rem;
  display: block;
  margin-right: 2.4rem;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.fs-nav-burger {
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 2.4rem;

  span {
    display: block;
    width: 2.2rem;
    height: 0.3rem;
    border-radius: 0.3rem;
    background-color: $site-color-2;
    transition: background-color 240ms;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.3rem;
      background-color: $site-color-2;
      transition: background-color 240ms;
    }

    &:after {
      top: -0.7rem;
    }

    &:before {
      bottom: -0.7rem;
    }
  }

  &:hover {
    span {
      background-color: $secondary-color-3;

      &:after, &:before {
        background-color: $secondary-color-3;
      }
    }
  }
}

.fs-search-block {
  width: 86.4rem;
  height: 4.6rem;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.1rem solid $site-color-3;
    background-color: $revert-color;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    transition: padding-left 240ms, border-color 240ms;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;
    z-index: 2;

    &::placeholder {
      color: $site-color-3;
    }

    & + i {
      opacity: 0;
      pointer-events: none;
      font-size: 1.8rem;
      color: $secondary-color-3;
      position: absolute;
      top: 50%;
      left: 1.9rem;
      transform: translateY(-50%);
      transition: opacity 240ms;
      z-index: 2;
    }

    &:placeholder-shown {
      padding-left: 5.2rem;

      & + i {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:focus {
      outline: none;
      border-color: $secondary-color-3;
    }
  }
}

.fs-search-result-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 240ms;

  .fs-search-result-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($site-color-1, 0.5);
    width: 100%;
    height: 100%;
    display: none;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;

    .fs-search-result-overlay {
      display: block;
    }
  }
}

.fs-search-result-block {
  padding-top: 4.6rem;
  padding-bottom: 4.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  background-color: $revert-color;
  box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
  border-radius: 0.4rem;
  min-height: 20rem;
  position: relative;
  z-index: 2;
}

.fs-search-result-column {
  width: 100%;

  &:not(:only-child):first-child:after {
    content: "";
    position: absolute;
    top: 4.6rem;
    bottom: 4.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.1rem;
    background-color: $site-color-3;
  }
}

.fs-search-result-column-title {
  width: 100%;
  height: 4.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $site-color-4;
  color: $site-color-1;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  line-height: 4.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.fs-search-result-column-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.fs-search-result-column-list-el {
  width: 100%;
  height: 4.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 4.6rem;

  a {
    color: $site-color-1;
    text-decoration: none;
  }
}

.fs-search-all-results {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 4.6rem;
  text-decoration: none;
  color: $site-color-1;
  font-size: 1.6rem;
  line-height: 4.6rem;
  font-weight: 700;

  &:after {
    content: " (" attr(data-search-count) ")";
    color: $site-color-2;
    font-weight: 400;
  }
}

.fs-action-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.fs-action-buttons {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fs-action-button {
  list-style: none;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  &:after {
    pointer-events: none;
  }

  &.has-notification {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $secondary-color-3;
      display: block;
    }
  }

  &[data-prod-count] {
    &:not([data-prod-count=""]) {
      &:after {
        content: attr(data-prod-count);
        background-color: $secondary-color-3;
      }
    }
  }

  &[data-fav-count] {
    &:not([data-fav-count=""]) {
      &:after {
        content: attr(data-fav-count);
        background-color: $secondary-color-3;
      }
    }
  }

  &[data-prod-count], &[data-fav-count] {
    position: relative;
    &:not([data-prod-count=""]), &:not([data-fav-count=""]) {
      &:after {
        position: absolute;
        top: -0.4rem;
        right: -0.5rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 0.8rem;
        color: $revert-color;
        font-weight: 700;
      }
    }
  }



  a {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fs-profile-popover-window {
    position: absolute;
    top: 5.5rem;
    right: 0;
    box-sizing: border-box;
    width: 36rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.2rem rgba($site-color-1, 0.25);
    display: none;
    cursor: default;

    .fs-profile-abbr {
      position: absolute;
      top: 2rem;
      left: 1.6rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondary-color-1;
      color: $revert-color;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 500;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0.2rem 0.4rem rgba($site-color-2, 0.2) inset;
      pointer-events: none;
    }
  }

  .fs-profile-popover-head {
    width: 100%;
    height: 8.8rem;
    padding-top: 1.6rem;
    padding-right: 1.6rem;
    padding-left: 6.8rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 -0.1rem 0 rgba($site-color-1, 0.25) inset;

    .fs-popover-name {
      margin-top: 0;
      margin-bottom: 0.2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 500;
      color: $site-color-1;
    }

    .fs-popover-email {
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 400;
      color: $site-color-2;
    }
  }

  .fs-profile-popover-body {
    width: 100%;
    padding-bottom: 1.6rem;
  }

  .fs-profile-popover-link {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 4.6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: $site-color-1;
    text-decoration: none;
  }

  .fs-authorization-popover {
    position: absolute;
    top: 5.5rem;
    right: 0;
    padding: 3.2rem 2.4rem;
    box-sizing: border-box;
    width: 36rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow: 0 0.2rem 0.2rem rgba($site-color-1, 0.25);
    display: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0.2rem 0.4rem rgba(155, 149, 140, 0.2%) inset;
      pointer-events: none;
    }

    .fs-authorisation-popover-title {
      width: 100%;
      text-align: center;
      padding-bottom: 2.4rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      color: $site-color-1;
      margin-top: 0;
      margin-bottom: 0;
    }

    .fs-authorisation-popover-buttons {
      width: 100%;
      display: block;

      a {
        width: 100%;
        height: 3.2rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin-left: 1.2rem;
        //margin-right: 1.2rem;
        border-radius: 0.4rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        line-height: 2.2rem;
        text-decoration: none;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      .fs-popover-sign-up {
        border: 0.1rem solid $secondary-color-2;
        color: $secondary-color-1;
        text-transform: capitalize;
      }

      .fs-popover-sign-in {
        background-color: $secondary-color-1;
        color: $revert-color;
      }
    }
  }

  &:not(:last-child) {
    margin-right: 0.6rem;
  }

  &:nth-child(2n + 1) {
    & > a, & > button {
      font-size: 2rem;
    }
  }
  &:nth-child(2n) {
    & > a, & > button {
      font-size: 2.2rem;
    }
  }

  & > a, & > button {
    color: $site-color-3;
  }

  & > button {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > a {
    text-decoration: none;
  }
}

.fs-user-button {
  position: relative;
  list-style: none;

  .fs-user-label {
    display: none;
  }
}

.fs-top-profile-abbr {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color-1;
  color: $revert-color;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
}

.notification-button {
  position: relative;
}

.fs-lang-block {
  margin-left: 1.1rem;
  width: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-lang-selected-block {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    border-top: 0.4rem solid $site-color-3;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    position: absolute;
    bottom: 0.7rem;
    right: -0.7rem;
  }

  img {
    width: 2.2rem;
    height: 1.8rem;
    object-fit: cover;
    display: block;
  }

  &:focus + .fs-lang-list-wrapper {
    display: block;
  }

}

.fs-lang-list-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.2rem;
  display: none;
}

.fs-lang-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: $revert-color;
}

.fs-lang-list-item {
  list-style: none;
  width: 100%;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 2.2rem;
    height: 1.8rem;
    object-fit: cover;
    display: block;
  }
}

.fs-notification-window {
  width: 52.6rem;
  background: $revert-color;
  box-shadow: 0 0.2rem 0.4rem rgba($site-color-1, 0.25);
  border-radius: 0.4rem;
  position: absolute;
  top: 5.5rem;
  right: 0;
  display: none;
}

.fs-notification-window-header {
  width: 100%;
  height: 5.1rem;
  background: $revert-color;
  box-shadow: 0 0.2rem 0.4rem rgba($site-color-2, 0.2);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fs-notification-window-title {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $site-color-1;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.fs-notification-window-body {
  width: 100%;
}

.fs-notification-window-action-panel {
  width: 100%;
  height: 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0 rgba($site-color-1, 0.1);
}

.fs-show-unread {
  height: 3.2rem;
  background-color: transparent;
  padding-left: 4.6rem;
  padding-right: 1.4rem;
  position: relative;
  border: 0.1rem solid $secondary-color-2;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $secondary-color-1;
  cursor: pointer;

  span {
    position: absolute;
    width: 1.1rem;
    height: 0.2rem;
    top: 50%;
    left: 2.5rem;
    transform: translate(-50%, -50%);
    background-color: $secondary-color-2;

    &:after {
      content: "";
      position: absolute;
      width: 1.5rem;
      height: 0.2rem;
      top: -0.4rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary-color-2;
    }

    &:before {
      content: "";
      position: absolute;
      width: 0.4rem;
      height: 0.2rem;
      bottom: -0.4rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $secondary-color-2;
    }
  }
}

.fs-as-read {
  height: 3.2rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  background-color: $secondary-color-1;
  border: none;
  outline: none;
  color: $revert-color;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

.fs-notification-tab-wrapper {
  width: 100%;
}

.fs-notification-tabs {
  width: 100%;
  height: 3.2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fs-notification-tab {
  min-width: 6rem;
  height: 100%;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $site-color-2;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &.active {
    position: relative;
    font-weight: 700;
    color: $secondary-color-3;
    cursor: default;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0.2rem;
      border-radius: 0.1rem;
      background-color: $secondary-color-3;
    }
  }
}

.fs-notification-list-wrapper {
  width: 100%;
  display: none;

  &.active {
    display: block;
  }
}

.fs-notification-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 1.2rem;
  max-height: calc(100vh - 38.8rem);
  overflow-y: auto;
  overflow-x: hidden;

  &.empty {
    display: none;
  }
}

.fs-notification-window-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 38.8rem);
  overflow: hidden;

  i {
    font-size: 7.8rem;
    margin-bottom: 4rem;
    color: $site-color-3;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: -0.6rem;
      right: 0;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      background-color: $secondary-color-3;
    }
  }



  span {
    font-size: 1.8em;
    font-weight: 700;
    line-height: 2.6em;
    color: $site-color-1
  }

  &.active {
    display: flex;
  }
}

.fs-notification-list-el {
  width: 100%;
  padding: 1.1rem 4.2rem 1.1rem 4.8rem;
  box-sizing: border-box;
  position: relative;

  &.new-notification {
    order: -1;

    &:after {
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 2.8rem;
      right: 1.3rem;
      background-color: $secondary-color-1;
    }

    .fs-notification-check {
      display: flex;
    }
  }

  .fs-notification-check {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.8rem;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2.4rem;
    box-sizing: border-box;

    input {
      display: none;

      &:checked + .fs-notification-check-imitation {
        border-color: $secondary-color-3;
        background-color: $secondary-color-3;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -72%) rotateZ(-45deg);
          width: 1rem;
          height: 0.6rem;
          display: block;
          border-left: 0.2rem solid #fff;
          border-bottom: 0.2rem solid #fff;
          box-sizing: border-box;
        }
      }
    }

    .fs-notification-check-imitation {
      width: 1.8rem;
      height: 1.8rem;
      display: block;
      border: 0.2rem solid $site-color-3;
      box-sizing: border-box;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}

.fs-notification-link {
  padding-left: 5rem;
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.fs-notification-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  padding-right: 0.8rem;
  box-sizing: border-box;
  padding-top: 0.7rem;

  img {
    width: 100%;
    height: 3rem;
    object-fit: cover;
    object-position: center;
  }
}

.fs-notification-data {
  width: 100%;

  h4 {
    margin-top: 0;
    margin-bottom: 0.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $site-color-1;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    strong {
      font-weight: 700;
    }
  }
}

.fs-notification-date {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $site-color-2;
}

.fs-action-button button.fs-logined-user {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: $secondary-color-1;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.fs-logined-popover {
  position: absolute;
  top: 5.6rem;
  right: 0;
  width: 36rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 2.4rem rgba($site-color-1, 0.12);
  background-color: $revert-color;
  box-sizing: border-box;
}

//Header -- End


//Footer -- Start

.fs-footer {
  width: 100%;
  background-color: $site-color-1;
}

.fs-added-product-notification {
  position: fixed;
  bottom: 5.6rem;
  right: 24rem;
  width: 40.4rem;
  padding: 1.2rem 1.6rem;
  z-index: 9;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background-color: $secondary-color-3;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;

  &.active {
    animation: fadeInLeft 240ms 1 ease-in-out forwards;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fs-footer-top-panel {
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  position: relative;
  box-shadow: 0 0.2rem 0.4rem rgba($site-color-2, 0.2);

  .fs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
}

.fs-footer-col {
  min-width: 22rem;
  margin-right: 2.4rem;
}

.fs-footer-logo {
  width: 7rem;
  height: 3.4rem;
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
  user-select: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    user-select: none;
  }
}

.fs-copyright {
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-3;
}

.fs-footer-col-title {
  width: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $revert-color;
  padding-bottom: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;

  span {
    display: none;
  }
}

.fs-footer-col-list {
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.fs-footer-col-list-item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  a {
    color: $site-color-2;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-decoration: none;
  }
}

.fs-footer-partner-col {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  img {
    width: 9rem;
    display: block;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: right;
    padding-top: 2.2rem;
    color: $site-color-3;
  }
}

.fs-footer-bottom-panel {
  width: 100%;
  height: 4rem;

  .fs-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2rem;
    box-sizing: border-box;
  }
}

.fs-footer-social-links {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fs-footer-social-link {
  width: 1.6rem;
  height: 1.6rem;

  &:not(:last-child) {
    margin-right: 3.2rem;
  }

  img, a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.policy-link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-decoration: none;
  text-align: right;
  color: $site-color-2;
}

.fs-to-top-button {
  position: fixed;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  background-color: rgba($site-color-1, 0.7);
  border: none;
  outline: none;
  font-size: 2.2rem;
  color: $revert-color;
  transition: background-color 240ms ease-in-out;
  cursor: pointer;
  z-index: 9;

  &:before {
    transform: rotate(180deg);
  }

  &:hover, &:active {
    background-color: rgba($secondary-color-3, 0.7);
  }
}

.fs-dialog-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba($site-color-1, 0.5);
  display: none;

  &.active {
    display: flex;
  }
}

.fs-dialog-body {
  margin: auto;
  max-width: 46rem;
  padding: 3.8rem 2.4rem;
  box-sizing: border-box;
  background-color: $revert-color;
}

.fs-dialog-text {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: $site-color-1;
}

.fs-dialog-button-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;

  button {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    outline: none;
    cursor: pointer;

    &.filled {
      border: 0.1rem solid $secondary-color-1;
      background-color: $secondary-color-1;
      color: $revert-color;
      transition: background-color 240ms, border 240ms, box-shadow 240ms;

      &:hover {
        box-shadow: 0 0 3.2rem rgba($site-color-1, 0.25) inset;
      }

      &:active {
        box-shadow: 0 0 3.2rem rgba($site-color-1, 0.35) inset;
      }

      &[disable] {
        background-color: $site-color-3;
        border: 0.1rem solid $site-color-3;
        pointer-events: none;
      }
    }

    &.stroked {
      background-color: $revert-color;
      border: 0.1rem solid $secondary-color-1;
      color: $secondary-color-1;
      transition: background-color 240ms, color 240ms, border 240ms, box-shadow 240ms;

      &:hover {
        background-color: $secondary-color-1;
        color: $revert-color;
      }

      &:active {
        box-shadow: 0 0 3.2rem rgba($site-color-1, 0.35) inset;
        color: $revert-color;
      }

      &[disable] {
        background-color: $site-color-3;
        border: 0.1rem solid $site-color-3;
        color: $revert-color;
        pointer-events: none;
      }
    }
  }
}

.fs-gift-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  padding: 2rem;
  z-index: 9;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  &.active {
    display: flex;
  }
}

.fs-gift-popup-body {
  width: 100%;
  max-width: 102.4rem;
  margin: auto;
  padding: 3.2rem 2.4rem;
  box-sizing: border-box;
  background-color: $revert-color;
  position: relative;
}

.fs-gift-popup-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: $site-color-2;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.fs-gift-popup-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $secondary-color-3;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.fs-gift-popup-subtitle {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.fs-gift-popup-date {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
  margin-bottom: 2.4rem;
}

.fs-sale-type-row {
  font-size: 0;
  margin-bottom: 2.4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;

  h5 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $site-color-2
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $secondary-color-3;
  }
}

.fs-sale-information-section {
  width: 100%;
  margin-bottom: 2.4rem;

  h5 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $site-color-2;
    margin-top: 0;
    margin-bottom: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
  }

  .fs-sale-information-description {
    width: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
    border: 0.1rem solid $secondary-color-3;
    border-radius: 0.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.fs-sale-information-list {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 1.6rem;
  box-sizing: border-box;
  border: 0.1rem solid $secondary-color-3;
  border-radius: 0.4rem;
  font-size: 0;

  li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;

    &:after {
      content: ", ";
    }
  }
}


//Footer -- End