@font-face {
  font-family: 'FOS-Icons';
  src:  url('../../../fonts/icons/fonts/FOS-Icons.eot?qnonql');
  src:  url('../../../fonts/icons/fonts/FOS-Icons.eot?qnonql#iefix') format('embedded-opentype'),
    url('../../../fonts/icons/fonts/FOS-Icons.ttf?qnonql') format('truetype'),
    url('../../../fonts/icons/fonts/FOS-Icons.woff?qnonql') format('woff'),
    url('../../../fonts/icons/fonts/FOS-Icons.svg?qnonql#FOS-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fs-icon-"], [class*=" fs-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FOS-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs-icon-approved:before {
  content: "\e90f";
}
.fs-icon-approved-with-change:before {
  content: "\e910";
}
.fs-icon-ordered:before {
  content: "\e911";
}
.fs-icon-rejected:before {
  content: "\e912";
}
.fs-icon-upload:before {
  content: "\e90e";
}
.fs-icon-camera:before {
  content: "\e90d";
}
.fs-icon-remove:before {
  content: "\e90c";
}
.fs-icon-close:before {
  content: "\e90b";
}
.fs-icon-filter:before {
  content: "\e90a";
}
.fs-icon-check:before {
  content: "\e909";
}
.fs-icon-search:before {
  content: "\e908";
}
.fs-icon-arrow:before {
  content: "\e900";
}
.fs-icon-basket:before {
  content: "\e901";
}
.fs-icon-bell:before {
  content: "\e902";
}
.fs-icon-chevron:before {
  content: "\e903";
}
.fs-icon-heart:before {
  content: "\e904";
}
.fs-icon-minus:before {
  content: "\e905";
}
.fs-icon-plus:before {
  content: "\e906";
}
.fs-icon-user:before {
  content: "\e907";
}
