.fs-about-us-wrapper {
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 11rem;

  & > .fs-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 11rem;

    .my-video-dimensions {
      width: 70.8rem;
      height: 38.6rem;
      border-radius: 0.4rem;
      overflow: hidden;
    }

    .fs-about-us-content {
      width: calc(100% - 70.8rem);
      padding-right: 2.4rem;
      box-sizing: border-box;
    }

    .fs-about-us-video {
      width: 70.8rem;

      .vjs-big-play-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        font-size: 4.4rem;
        line-height: 1;
        width: 2.4rem;
        height: 2.4rem;

        .vjs-icon-placeholder {
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.fs-about-us-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.6rem;
  padding-bottom: 3.2rem;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 700;
  color: $site-color-1;
}

.fs-about-us-text {
  width: 100%;
  margin-bottom: 3.2rem;

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
    }
  }
}

.fs-about-us-link-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fs-about-us-link {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color-1;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $revert-color;
  border-radius: 0.4rem;
}

.fs-how-it-works {
  width: 100%;
  margin-bottom: 12.6rem;
}

.fs-how-it-works-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $site-color-1;
  padding-bottom: 3.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.fs-how-it-works-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-column-gap: 2.4rem;
}

.fs-how-it-works-grid-el {
  padding: 2.4rem;
  box-sizing: border-box;
  min-height: 12.8rem;
  box-shadow: 0 0.2rem 0.2rem rgba($site-color-1, 0.25);
  border-radius: 0.4rem;
  border: 0.1rem solid $site-color-3;
  position: relative;
}

.fs-how-it-works-grid-el-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.2rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  text-align: center;
}

.fs-how-it-works-desc {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
  text-align: center;
}

.fs-how-it-works-icon {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: $secondary-color-3;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $revert-color;
    font-size: 1rem;

    &:first-child {
      transform: rotate(-90deg) translate(50%, -20%);
    }

    &:last-child {
      transform: rotate(-90deg) translate(50%, -60%);
    }
  }
}

.fs-provider-list {
  width: 100%;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  box-sizing: border-box;
}

.fs-provider-list-el {
  width: 100%;
  padding: 1.2rem;
  box-sizing: border-box;
  position: relative;
  border: 0.1rem solid $site-color-3;
  border-radius: 0.4rem;

  &:after {
    content: "";
    position: relative;
    display: block;
    padding-top: 74.324%;
  }

  img {
    display: block;
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    object-fit: cover;
    width: calc(100% - 2.4rem) !important;
    height: calc(100% - 2.4rem);
    border-radius: 0.4rem;
  }
}

.fs-provider-block-title {
  width: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 3.2rem;
  text-align: center;
  color: $site-color-1;
}

.fs-become-provider-wrapper {
  width: 100%;
  padding-top: 3.2rem;

  .fs-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fs-become-provider {
    height: 4.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    background-color: $secondary-color-1;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $revert-color;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    cursor: pointer;
    text-decoration: none;
  }
}