.fs-personal-page-wrapper {
  width: 100%;
  padding-top: 0.8rem;

  & > .fs-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.fs-personal-aside {
  width: 34.2rem;
  margin-right: 2.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba($site-color-1, 0.25);
  position: sticky;
  top: 10rem;
  left: 0;
}

.fs-personal-body {
  width: calc(100% - 36.6rem);
}

.fs-personal-tabulation {
  width: 100%;
  display: grid;
  grid-template-rows: auto 11fr;
  position: sticky;
  top: 8.7rem;
  left: 0;
  z-index: 6;
}

.fs-personal-tab-head {
  width: 100%;
  height: 4.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  border-radius: 0.4rem 0.4rem 0 0;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.4rem rgba(155, 149, 140, 0.2);
  position: relative;
  z-index: 1;

  a {
    width: 100%;
    height: 100%;
    background-color: $site-color-3;
    color: $revert-color;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

    &.active {
      background-color: $site-color-1;
      cursor: default;
    }
  }
}

.fs-personal-tab-body {
  width: 100%;
  height: 100%;
  padding-top: 2.4rem;
}

.fs-personal-link-group {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  padding-bottom: 21.2rem;
}

.fs-personal-link-el {
  width: 100%;
  display: grid;
  grid-template-columns: 11fr auto;

  a {
    width: 100%;
    display: block;
    padding: 1.1rem 1.6rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;
    text-decoration: none;
    transition: color 240ms;
  }

  span {
    color: $error-color;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.6rem;
  }

  &.active {
    position: relative;

    a {
      color: $secondary-color-3;
      cursor: default;
    }

    &:before {
      content: "";
      position: absolute;
      width: 0.2rem;
      height: 100%;
      background-color: $secondary-color-3;
    }
  }

  &:hover {
    a {
      color: $secondary-color-3;
    }
  }
}

.fs-personal-name-row {
  width: 100%;
  height: 4.6rem;
  background-color: $secondary-color-3;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: $revert-color;
  border-radius: 0.4rem 0.4rem 0 0;
  margin-bottom: 6.6rem;
  position: relative;

  &:before {
    content: attr(data-license);
    position: absolute;
    bottom: -3.4rem;
    left: 1.6rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $error-color;
  }
}

.fs-personal-title-group {
  width: 100%;
  padding-bottom: 1.2rem;
}

.fs-personal-body-title {
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $site-color-1;
  margin-top: 0;
  margin-bottom: 0;
}

.fs-personal-list-wrapper {
  width: 100%;
}

.fs-personal-list-tab-head {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.fs-personal-tab-button {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 4.6rem;
  position: relative;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-2;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    background-color: $site-color-3;
  }

  &.active {
    color: $site-color-1;
    cursor: default;

    &:after {
      height: 0.2rem;
      background-color: $site-color-1;
    }
  }
}

.fs-personal-list-select-category {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $site-color-2;
  margin-top: 0;
  margin-bottom: 0;

  & + .fs-personal-select-category {
    margin-top: 3.2rem;
  }
}

.fs-personal-page-tab-result {
  display: none;

  &.active {
    display: block;
  }
}

.fs-personal-select-category {
  width: 100%;

  .fs-multi-dropdown {
    max-width: 58.6rem;
    margin-left: auto;
    margin-right: auto;
  }


  .fs-multi-dropdown-list {
    max-width: 85.6rem;
  }

  .fs-personal-select-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .fs-multi-dropdown {
      margin-left: 0;
      margin-right: 0;
    }

    #filter {
      margin-left: 1rem;
      height: 4.6rem;
      border: none;
      min-width: 10rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: goldenrod;
      color: #ffffff;
      font-size: 1.6rem;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
}

.fs-min-product-slider-wrapper {
  width: 100%;
  position: relative;
}

.show-more-switcher {
  display: none;

  &:not(:checked) + .fs-min-product-slider {
    .fs-product-card:not(:first-of-type):not(:nth-of-type(2)):not(:nth-of-type(3)):not(:nth-of-type(4)):not(:nth-of-type(5)):not(:nth-of-type(6)):not(:nth-of-type(7)):not(:nth-of-type(8)) {
      display: none;
    }
  }

  &:not(:checked) ~ .fs-list-load-more-less {
    .show-more-btn {
      &:before {
        content: attr(data-more);
      }
    }
  }

  &:checked ~ .fs-list-load-more-less {
    .show-more-btn {
      &:before {
        content: attr(data-less);
      }

      i {
        transform: translateY(-50%) rotateX(180deg);
      }
    }
  }
}

.fs-min-category-slider-wrapper {
  width: 100%;
  position: relative;
}

.fs-min-product-slider, .fs-min-category-slider {
  width: 100%;
  height: 100%;
}

.fs-min-category-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
}

.fs-personal-list-category-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  padding-bottom: 1.6rem;
}

.fs-personal-list-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $site-color-1;
  margin-top: 0;
  margin-bottom: 3.2rem;
}

.fs-min-product-slider {
  width: calc(100% + 2.4rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .fs-product-card {
    width: calc(25% - 2.4rem);
    margin-right: 2.4rem;
    margin-bottom: 2.4rem;
  }
}

.fs-list-load-more-less {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;

  button {
    height: 3.2rem;
    padding-right: 4.6rem;
    padding-left: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: $secondary-color-3;
    cursor: pointer;

    i {
      font-size: 1rem;
      position: absolute;
      right: 2.1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.fs-personal-list-category-row {
  padding-bottom: 0.8rem;
}

.fs-prod-page-read-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    padding: 0.5rem 4.6rem 0.5rem 1.4rem;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $secondary-color-3;
    cursor: pointer;

    i {
      position: absolute;
      right: 2.1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
    }
  }
}

.fs-contacting-wrapper {
  margin-top: 2rem;
  width: 100%;
}

.fs-contacting-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    th {
      height: 4.6rem;
      background-color: $site-color-3;
      padding-left: 1.6rem;
      padding-right: 0.8rem;
      box-sizing: border-box;
      text-align: left;
      font-size: 1.4rem;
      line-height: 2.2rem;
      text-transform: uppercase;
      color: $site-color-1;
    }
  }

  tbody {
    td {
      padding: 1.2rem 0 1.2rem 1.6rem;
      box-sizing: border-box;
      vertical-align: top;
      box-shadow: 0 0.1rem 0 rgba($site-color-1, 0.2);

      h4, li {
        font-size: 1.4rem;
        line-height: 2.2rem;
      }

      h4 {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 0.6rem;
        }
      }

      ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }
    }
  }
}

.fs-contacting-action-row {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
  box-sizing: border-box;
}

.fs-contacting-page-info {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
  font-weight: 500;
}

.fs-personal-page-table-pagination {
  padding-right: 3.2rem;
  padding-left: 3.2rem;
  position: relative;
}

.fs-personal-page-table-pagination-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.fs-personal-page-table-pagination-list-el {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;

  &.active, &:hover {
    a {
      color: $secondary-color-3;
    }
  }

  a {
    color: $site-color-2;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fs-personal-page-table-pagination-nav {
  button {
    position: absolute;
    top: 0;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 2rem;
    color: $site-color-1;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    &.active {
      pointer-events: auto;
      opacity: 1;
    }

    &:nth-child(1) {
      left: 0;
      transform: rotateZ(0);
    }

    &:nth-child(2) {
      right: 0;
      transform: rotateZ(180deg);
    }
  }
}

.fs-personal-sent-action-row {
  width: 100%;
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2rem;
  padding-bottom: 0.4rem;
}

.fs-personal-sent-tabulation {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.fs-personal-sent-tab-el {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-2;
  box-shadow: 0 -0.1rem 0 0 rgba($site-color-3, 1) inset;
  cursor: pointer;

  &.active {
    color: $site-color-1;
    font-weight: 500;
    box-shadow: 0 -0.2rem 0 0 rgba($site-color-1, 1) inset;
    cursor: default;
  }
}

.calendar-datepicker-block {
  position: relative;
}

.open-calendar-modal {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  height: 4.6rem;
  background-color: transparent;
  border: 0.1rem solid $secondary-color-3;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  cursor: pointer;
}

.fs-personal-about-company-form {
  width: 100%;
  padding-top: 5rem;
}

.fs-personal-about-company-input-cols {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.6rem;
}

.fs-company-info-wrapper {
  width: 100%;
}

.fs-company-info-form {
  width: 100%;
  padding-bottom: 11rem;
}

.fs-company-main-info-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-column-gap: 2.6rem;
  padding-top: 2rem;
}

.fs-company-info-field-col {
  width: 100%;
  margin-bottom: 2.4rem;
}

.fs-company-input-field {
  width: 100%;
  position: relative;

  .fs-tel-code {
    bottom: 0;
  }

  .fs-auth-input {
    padding-left: 7rem;
  }

  &.readonly {
    pointer-events: none;
  }

  input {
    width: 100%;
    height: 4.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $site-color-3;
    background-color: $revert-color;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: $site-color-1;

    &::placeholder {
      color: $site-color-2;
    }
  }
}

.fs-company-field-label {
  width: 100%;
  display: block;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $site-color-2;
  padding-bottom: 0.8rem;
}

.fs-company-info-change-pass-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -0.8rem;
  margin-bottom: 2.4rem;

  button {
    height: 2.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 700;
    color: $secondary-color-1;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.fs-companies-multi-dropdown-label {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: $site-color-2;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
}

.fs-company-info-subtitle {
  width: 100%;
  max-width: 83rem;
  text-align: center;
  margin: 0 auto;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 3.2rem;
  color: $site-color-1;
}

.fs-company-personal-info-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 11fr;
  grid-column-gap: 2.4rem;
}

.fs-company-logo-col {
  width: 17.2rem;
}

.fs-company-logo-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  input {
    display: none;
  }
}

.fs-company-logo-placeholder {
  display: block;
  width: 100%;
  height: 11.8rem;
  border-radius: 0.4rem;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    & + span {
      display: none;
    }
  }

  img[src=""], img:not([src]) {
    display: none;

    & + span {
      font-size: 4.8rem;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      background-color: $site-color-4;
      color: $site-color-3;
    }
  }
}

.fs-company-logo-upload-button {
  padding-left: 4.6rem;
  padding-right: 1.4rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $secondary-color-2;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  pointer-events: none;

  i {
    position: absolute;
    top: 50%;
    left: 1.4rem;
    font-size: 2.4rem;
    transform: translateY(-50%);
    color: $secondary-color-1;
  }

  .fs-company-logo-upload-button-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-color-1;
  }
}

.fs-company-personal-col {
  width: 100%;
}

.fs-company-description {
  width: 100%;
  display: block;
  margin-bottom: 5.2rem;
}

.fs-company-description-label {
  width: 100%;
  display: block;
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $site-color-2;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
}

.fs-company-description-input {
  width: 100%;
  height: 11.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $site-color-3;
  padding: 1.1rem 1.6rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $site-color-1;
  resize: none;

  &::placeholder {
    color: $site-color-3;
  }
}

.fs-company-link {
  width: 100%;
  display: block;
  margin-bottom: 2.4rem;

  &.talk-everyone {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1.9rem;
    box-sizing: border-box;

    input {
      display: none;

      &:checked {
        & + .fs-company-talk-checkbox {
          border-color: $secondary-color-3;
          background-color: $secondary-color-3;
        }
      }
    }

    .fs-company-talk-checkbox {
      width: 1.8rem;
      height: 1.8rem;
      border: 0.2rem solid $site-color-3;
      border-radius: 0.2rem;
      color: $revert-color;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .fs-company-link-checkbox {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $site-color-1;
    }
  }
}

.fs-company-link-label {
  width: 100%;
  display: block;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $site-color-2;
  box-sizing: border-box;
}

.fs-company-link-input {
  width: 100%;
  height: 4.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  border: 0.1rem solid $site-color-3;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $site-color-1;

  &::placeholder {
    color: $site-color-3;
  }
}

.fs-company-taxes-block {
  width: 100%;
  margin-bottom: 3.2rem;
}

.fs-company-taxes-block-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: $site-color-2;
}

.fs-company-taxes-checkbox-wrapper {
  width: 100%;
  padding: 1.6rem 1.6rem 1.6rem 1.9rem;
  box-sizing: border-box;
  border: 0.1rem solid $site-color-3;
  border-radius: 0.4rem;
}

.fs-company-taxes-checkbox-el {
  width: 100%;
  height: 2.4rem;
  display: block;
  position: relative;
  padding-left: 3.3rem;
  box-sizing: border-box;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  input {
    display: none;

    &:checked + .fs-company-taxes-checkbox-imitation {
      border-color: $secondary-color-3;
      background-color: $secondary-color-3;

      &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 0.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -77%) rotate(-45deg);
        border-bottom: 0.2rem solid $revert-color;
        border-left: 0.2rem solid $revert-color;
      }
    }
  }
}

.fs-company-taxes-checkbox-imitation {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  border: 0.1rem solid $site-color-3;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.fs-company-taxes-checkbox-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  font-weight: 500;
}

.fs-company-form-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    cursor: pointer;

    &[type="button"] {
      border: 0.1rem solid $secondary-color-2;
      background-color: transparent;
      color: $secondary-color-1;
    }

    &[type="submit"] {
      margin-left: 2.4rem;
      background-color: $secondary-color-1;
      border: 0.1rem solid transparent;
      color: $revert-color;
    }
  }
}

.fs-personal-orders-wrapper {
  width: 100%;
}

.fs-personal-order-tabs {
  width: 100%;
  height: 4.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 0.1rem solid $site-color-3;
  box-sizing: border-box;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.fs-personal-order-tab {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $site-color-2;
  background-color: transparent;
  border: none;
  position: relative;
  text-decoration: none;

  &:not(.active) {
    cursor: pointer;
  }

  i {
    font-size: 1.8rem;
    margin-right: 1.2rem;
    color: currentColor;

    &.fs-icon-ordered {
      color: $warning-color;

      & + span {
        color: $warning-color;
      }
    }

    &.fs-icon-approved, &.fs-icon-approved-with-change {
      color: $success-color;

      & + span {
        color: $success-color;
      }
    }

    &.fs-icon-rejected {
      color: $error-color;

      & + span {
        color: $error-color;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: $secondary-color-1;
    opacity: 0;
    transition: opacity 240ms;
  }

  &.active, &:hover {
    &:after {
      opacity: 1;
    }
    font-weight: 700;
  }
}

.fs-personal-order-action-row {
  width: 100%;
  height: 4.6rem;
  margin-bottom: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.fs-personal-order-download-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1.7rem;
}

.fs-personal-order-download-label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-right: 2.4rem;
  color: $site-color-1;
  font-weight: 400;
  text-transform: capitalize;
}

.fs-personal-order-download-btn {
  display: block;
  width: 3rem;
  height: 3rem;
  transition: transform 240ms, filter 240ms;

  &:hover {
    will-change: contents;
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.2));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &:not(:last-child) {
    margin-right: 2.4rem;
  }
}

.fs-personal-order-table-wrapper {
  width: 100%;
  padding-bottom: 7.4rem;
}

.fs-personal-order-table {
  display: table;
  width: 100%;

  .fs-personal-order-table-head-row {
    .fs-personal-order-table-col.supplier {
      text-align: center;
    }
  }
}

.fs-personal-order-table-head-row, .fs-personal-order-table-body-row {
  width: 100%;
  display: table-row;
  transition: background-color 240ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fs-personal-order-table-col {
  display: table-cell;
}

.fs-personal-order-filter-col {
  position: relative;
}

.fs-double-datepicker-body {
  width: 35rem;
  padding: 1.2rem;
  box-sizing: border-box;
  background-color: $revert-color;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);

  &.active {
    display: block;
  }
}

.fs-double-datepicker-row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-column-gap: 1.6rem;
  margin-bottom: 2.1rem;
}

.fs-double-datepicker-col {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $site-color-3;
  box-sizing: border-box;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1.4rem;
    padding-right: 4.6rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6rem;
  }

  i {
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    right: 1.9rem;
    transform: translateY(-50%);
    color: $site-color-3;
  }
}

.fs-select-date-today, .fs-select-date-this-month {
  width: 100%;
  height: 3.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
  line-height: 2.2rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: $site-color-2;
  font-weight: 500;
  cursor: pointer;
}

.fs-set-date-block {
  width: 100%;
  padding-top: 1.6rem;
  display: flex;
  justify-content: flex-end;

  button {
    height: 3.2rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 1.6rem;
      background-color: transparent;
      border: 0.1rem solid $secondary-color-1;
      box-sizing: border-box;
      color: $secondary-color-1;
    }

    &:nth-child(2) {
      background-color: $secondary-color-1;
      color: $revert-color;
    }
  }
}

.fs-personal-order-table-head-row .fs-personal-order-table-col {
  background-color: $site-color-3;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: $site-color-1;
  font-weight: 700;

  &:first-child {
    width: 5.6rem;
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    left: 0;

    input {
      display: none;

      &:checked + .fs-personal-order-table-row-check-imitation {
        background-color: $secondary-color-3;
        border-color: $secondary-color-3;

        &:after {
          content: "";
          position: absolute;
          top: 0.2rem;
          left: 0.05rem;
          width: 1rem;
          height: 0.5rem;
          transform: rotateZ(-45deg);
          border-bottom: 0.2rem solid #fff;
          border-left: 0.2rem solid #fff;
        }
      }
    }

    .fs-personal-order-table-row-check {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .fs-personal-order-table-row-check-imitation {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.8rem;
      height: 1.8rem;
      box-sizing: border-box;
      border-radius: 0.2rem;
      border: 0.2rem solid $site-color-2;
    }
  }
}

.fs-personal-order-table-head-row {
  .fs-personal-order-table-col {
    height: 4.6rem;
    box-sizing: border-box;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    vertical-align: middle;
  }
}

.fs-personal-order-table-body-row .fs-personal-order-table-col {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-1;
  font-weight: 400;

  &:first-child {
    width: 5.6rem;
    padding-top: 0;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    left: 0;

    input {
      display: none;

      &:checked + .fs-personal-order-table-row-check-imitation {
        background-color: $secondary-color-3;
        border-color: $secondary-color-3;

        &:after {
          content: "";
          position: absolute;
          top: 0.2rem;
          left: 0.05rem;
          width: 1rem;
          height: 0.5rem;
          transform: rotateZ(-45deg);
          border-bottom: 0.2rem solid #fff;
          border-left: 0.2rem solid #fff;
        }
      }
    }

    .fs-personal-order-table-row-check {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4.6rem;
      cursor: pointer;
      //background-color: $revert-color;
    }

    .fs-personal-order-table-row-check-imitation {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.8rem;
      height: 1.8rem;
      box-sizing: border-box;
      border-radius: 0.2rem;
      border: 0.2rem solid $site-color-3;
      transition: background-color 240ms, border-color 240ms;
    }
  }
}

.fs-personal-order-table-order-label {
  color: inherit;
  text-decoration: none;
}

.fs-personal-order-table-col {
  &.order {
    width: 12.4rem;
    padding-right: 1.6rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;

    .fs-personal-order-table-order-label {
      color: $site-color-1;
      text-decoration: none;
    }
  }

  &.result {
    text-align: right;
    padding-right: 1.6rem;
    box-sizing: border-box;
  }

  &.date {
    font-size: 1.4rem;
    line-height: 2.2rem;
    width: 9rem;
    padding-right: 1.6rem;

    time {
      font-weight: 500;
    }
  }

  &.supplier {
    width: 41.8rem;
    padding-right: 1.6rem;

    .fs-personal-order-supplier-name {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.4rem;
      line-height: 2.2rem;
      font-weight: 700;
      color: $site-color-1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  &.price {
    width: 18rem;
    padding-right: 1.6rem;
  }

  &.sale {
    width: 13rem;
    padding-right: 1.6rem;
    text-align: right;

    span {
      display: block;
      font-size: 1.2rem;
      line-height: 2rem;
      white-space: nowrap;
    }
  }

  &.status {
    i {
      font-size: 1.8rem;
      margin-right: 1.2rem;

      &.fs-icon-ordered {
        color: $secondary-color-3;

        & + span {
          color: $secondary-color-3;
        }
      }

      &.fs-icon-approved {
        color: $success-color;

        & + span {
          color: $success-color;
        }
      }

      &.fs-icon-rejected {
        color: $error-color;

        & + span {
          color: $error-color;
        }
      }
    }
  }
}

.fs-personal-order-result {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 8;
}

.fs-personal-order-result-row {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.8rem;
  pointer-events: auto;
  background: $revert-color;
  box-shadow: 0 0 2.4rem rgba($site-color-1, 0.12);
  display: none;

  &.active {
    display: block;
  }

  .fs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    .fs-personal-order-result-inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $secondary-color-3;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      padding-bottom: 0.2rem;

      var {
        font-style: normal;
      }
    }

    .fs-personal-order-result-label {
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      margin-right: 1.2rem;
    }
  }
}

.fs-personal-order-result-info {
  color: $site-color-2;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.fs-personal-partners-wrapper {
  width: 100%;
}

.fs-personal-partners-search-form {
  width: 100%;
  max-width: 58.6rem;
  height: 4.6rem;
  border: 0.1rem solid $site-color-3;
  box-sizing: border-box;
  position: relative;
  padding-right: 5.6rem;
  margin: 2rem auto 2.4rem;
  border-radius: 0.4rem;
}

.fs-personal-partners-search-field {
  width: 100%;
  height: 100%;

  input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 0 0 1.6rem;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;

    &::placeholder {
      color: $site-color-3;
    }
  }
}

.fs-personal-partners-search-btn {
  position: absolute;
  width: 5.6rem;
  height: 100%;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: $secondary-color-3;

  &:before {
    font-size: 1.8rem;
  }
}

.fs-personal-partners-search-res {
  width: 100%;
  padding-bottom: 14.6rem;
}

.fs-personal-partners-search-res-row {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 7.6rem;
  }

  h4 {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2.4rem;
    font-weight: 700;
    padding-bottom: 1.6rem;
    color: $site-color-1;
  }
}

.fs-personal-partner-slider, .fs-per-fav-slider {
  width: 100%;
  position: relative;

  &.less {
    .fs-all-companies-grid-el:not(:nth-child(-n + 6)) {
      display: none;
    }
  }

  &.more {

  }

  .fs-all-companies-grid-el {
    width: calc(100% - 0.1rem);
  }

  .owl-nav {
    margin: 0;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: -4rem;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;

      &:before {
        color: $secondary-color-3;
      }
    }

    span {
      opacity: 0;
    }

    &:before {
      content: "\e903";
      font-family: 'FOS-Icons' !important;
      display: block;
      font-size: 1.6rem;
    }
  }

  .owl-next {
    right: 0;

    &:before {
      transform: rotateZ(-90deg);
    }
  }

  .owl-prev {
    right: 4.6rem;

    &:before {
      transform: rotateZ(90deg);
    }
  }

  .owl-dots {
    position: absolute;
    left: 0;
    bottom: -3.6rem;
    width: 100%;
    height: 1.2rem;

    .owl-dot {
      width: 1.2rem;
      height: 1.2rem;
      margin: 0 0.5rem;

      span {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: $site-color-3;
      }

      &.active, &:hover {
        span {
          background-color: $secondary-color-3;
        }
      }
    }
  }
}

.fs-personal-announced-wrapper {
  margin-top: 2rem;
}

.fs-personal-announced-head {
  width: 100%;
  height: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fs-personal-announced-tab-head {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  button {
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-2;
    background-color: transparent;
    border: none;
    outline: none;
    transition: color 240ms;
    position: relative;

    &:after {
      content: "";
      background-color: $site-color-3;
      width: 100%;
      height: 0.1rem;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      transition: all 240ms;
    }

    &.active {
      color: $site-color-1;
      font-weight: 500;
      cursor: default;

      &:after {
        height: 0.2rem;
        background-color: $site-color-1;
      }
    }

    &:hover {
      color: $site-color-1;
      position: relative;
      cursor: pointer;
    }
  }
}

.fs-personal-announced-table-wrapper {
  width: 100%;
  padding-top: 2.7rem;
}

.fs-personal-announced-table {
  width: 100%;
  display: block;
}

.fs-personal-announced-table-head {
  width: 100%;
  display: block;
  background-color: $site-color-3;

  .fs-personal-announced-table-cell {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: $site-color-1;
    font-weight: 700;

    &.company {
      width: 34.8rem;
      padding-right: 1.6rem;
    }

    &.sale-group-type {
      width: 20.4rem;
      padding-right: 1.6rem;
    }

    &.sale {
      width: 11rem;
      padding-right: 1.6rem;
    }

    &.start {
      width: 9rem;
      padding-right: 1.6rem;
    }

    &.end {
      width: 9rem;
      padding-right: 1.6rem;
    }

    &.status {
      width: 12rem;
    }
  }
}

.fs-personal-announced-table-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
}

.fs-personal-announced-table-body {
  width: 100%;

  .fs-personal-announced-table-row {
    box-shadow: 0 0.1rem 0 rgba($site-color-1, 0.2);
    padding-right: 0;
  }

  .fs-personal-announced-table-cell {
    font-size: 1.4rem;
    line-height: 2.2rem;

    &.company {
      width: 34.8rem;
      padding-right: 1.6rem;
      font-weight: 700;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      cursor: pointer;
    }

    &.sale-group-type {
      width: 20.4rem;
      color: $secondary-color-3;
      font-weight: 700;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }

    &.sub-table {
      width: 49rem;
    }

    .fs-personal-announced-sub-trow {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
      box-sizing: border-box;

      &:not(:last-child) {
        box-shadow: 0 0.1rem 0 rgba($site-color-1, 0.2);
      }

      .fs-personal-announced-sub-cell {
        min-height: 4.6rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;

        &.type {
          width: 11rem;
          padding-right: 1.6rem;
        }
        &.start {
          width: 9rem;
          padding-right: 1.6rem;
        }
        &.end {
          width: 11rem;
          padding-right: 1.6rem;
        }
        &.status {
          width: 12rem;
        }
      }
    }
  }
}

.fs-personal-favorite-product-wrapper {
  width: 100%;
  margin-top: 2rem;
}

.fs-personal-fav-prod-search {
  width: 100%;
  max-width: 86.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.4rem;
}

.fs-datepicker-trigger {
  height: 4.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: $site-color-1;
  font-weight: 400;
  background-color: transparent;
  border: 0.1rem solid $secondary-color-3;
  box-sizing: border-box;
  border-radius: 0.4rem;
  cursor: pointer;
}

.fs-personal-partner-slider {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
}

.list-show-more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;

  button {
    height: 3.2rem;
    padding-left: 1.4rem;
    padding-right: 4.6rem;
    position: relative;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $secondary-color-3;
    border: 0.1rem solid transparent;
    transition: border-color 240ms;
    border-radius: 0.4rem;

    &:hover {
      border-color: $secondary-color-3;
    }

    &.show-more:before {
      content: attr(data-show-more);
    }

    &.show-less {
      &:before {
        content: attr(data-show-less);
      }
      &:after {
        transform: translateY(-50%) rotateZ(-180deg);
      }
    }

    &:after {
      content: "\e903";
      font-family: 'FOS-Icons' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 2.1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      color: $secondary-color-3;
    }
  }
}

.fs-all-companies-grid-el {
  width: 100% !important;
}



.fs-go-to-admin-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2.4rem;

  a {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: $site-color-1;
    text-decoration: underline;
  }
}

.fs-mob-to-back {
  width: 100%;
  display: none;
}


.per-order-page-title {
  width: 100%;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.2rem;

  &.accepted {
    color: $success-color;
  }

  &.sanded {
    color: $secondary-color-3;
  }

  &.rejected {
    color: $error-color;
  }
}

.fs-single-order-page-data {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 3.2rem;
}

.fs-single-order-page-col {
  &:first-child {
    width: 36.6rem;
    padding-right: 6rem;
    box-sizing: border-box;
  }
  &:nth-child(2) {
    width: 52.5rem;
    padding-right: 2.4rem;
    box-sizing: border-box;
  }
}

.fs-single-order-page-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .fs-single-order-page-inline-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .fs-single-order-page-inline-data {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-1;
    padding-left: 1.2rem;
  }
}

.fs-single-order-col-inner {
  width: 100%;
}

.fs-single-order-col-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: $site-color-1;
}

.fs-single-order-col-data {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $site-color-2;
}

.fs-single-order-table-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.fs-single-order-table {
  width: 232.8rem;
  display: table;
  cursor: grab;
  box-shadow: 0 0 0.4rem rgba($site-color-1, 0.25);

  &:active {
    cursor: grabbing;
  }
}

.fs-single-order-thead {
  width: 100%;
  height: 6.8rem;
  background-color: $site-color-3;
  display: table-header-group;
}

.fs-single-order-tr {
  width: 100%;
  height: 100%;
  display: table-row;
}

.fs-single-order-th {
  display: table-cell;
  padding-right: 1.6rem;
  padding-top: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: $site-color-1;

  span {
    display: block;
  }

  &:first-child {
    padding-left: 7.6rem;
    box-sizing: border-box;
  }
}

.fs-single-order-thead-decoration {
  width: 7.6rem;
  height: 6.8rem;
}

.fs-single-order-tbody {
  display: table-row-group;
}

.fs-single-order-td {
  display: table-cell;
  padding-top: 1.6rem;
  box-sizing: border-box;
  padding-right: 1.6rem;

  &:first-child {
    padding-left: 7.6rem;
    position: relative;
  }

  &:not(:first-child) {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-1;
    white-space: nowrap;
  }
}

.fs-single-order-thumbnail {
  position: absolute;
  top: 1.4rem;
  left: 1.6rem;
  width: 4.4rem;
  height: 4.8rem;
  border-radius: 0.4rem;
  object-fit: cover;
  object-position: center;
}

.fs-single-order-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding-bottom: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 32rem;
  font-weight: 700;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.fs-single-order-article {
  width: 100%;

  h6 {
    display: inline;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-2;

    &:after {
      content: " ";
    }
  }

  p {
    display: inline;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-1;
  }
}

.fs-single-order-data-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.6rem;
  padding-left: 0;
  list-style: none;
}

.fs-single-order-data-li {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.4rem;
  }

  h6 {
    display: inline;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-2;

    &:after {
      content: " ";
    }
  }

  p {
    display: inline;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: $site-color-1;
  }
}

.fs-count-calc-block {
  width: 15rem;
  height: 4rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0.1rem solid $site-color-3;
  box-sizing: border-box;

  button {
    width: 5.6rem;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    font-size: 1.4rem;
    color: $site-color-2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  input {
    width: 3.8rem;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    padding: 0 0 0.2rem 0;
    font-size: 1.6rem;
    color: $site-color-1;
    font-weight: 500;
    box-sizing: border-box;

    &::placeholder {
      color: $site-color-2;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
}

.fs-template-list-wrapper {
  width: 100%;
}

.fs-personal-page-table {
  width: 100%;
  display: table;
}

.fs-personal-page-thead {
  width: 100%;
  display: table-header-group;
}

.fs-personal-page-tbody {
  width: 100%;
  display: table-row-group;
}

.fs-personal-page-tr {
  width: 100%;
  display: table-row;
  position: relative;
  transition: background-color 240ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.fs-remove-template-el {
  transition: color 240ms ease-in-out;

  &:hover {
    color: $error-color;
  }
}

.fs-personal-page-th {
  display: table-cell;
  background-color: $site-color-3;
  box-sizing: border-box;
  padding: 1.2rem 0 1.2rem 1.6rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: $site-color-1;
}

.fs-personal-page-td {
  display: table-cell;
  padding: 1.2rem 0 1.2rem 1.6rem;
  box-shadow: 0 0.1rem 0 rgba($site-color-1, 0.2);
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: $site-color-1;
  position: relative;
  text-decoration: none;

  & + button {
    position: absolute;
    top: 1.1rem;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: $site-color-3;
    cursor: pointer;
  }
}

.fs-personal-page-table-count {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #9B958C;
  font-weight: 500;
}

.fs-personal-page-table-foot {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
  box-sizing: border-box;
}

.fs-personal-page-sub-row {
  display: block;
  font-weight: 400;
}

.fs-personal-page-request-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($site-color-1, 0.5);
  display: none;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;

  &.active {
    display: flex;
  }
}

.fs-personal-page-request-popup-body {
  width: 100%;
  max-width: 107.4rem;
  margin: auto;
  padding: 3.2rem 2.5rem 6.8rem;
  box-sizing: border-box;
  background-color: $revert-color;
  box-shadow: 0 0.2rem 0.2rem rgba($site-color-1, 0.25);
  border-radius: 0.4rem;
  position: relative;
}

.fs-personal-page-request-popup-close {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.4rem;
  color: $site-color-2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.fs-personal-page-request-popup-title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 2.4rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $secondary-color-3;
}

.fs-personal-page-request-popup-head {
  width: 100%;
  height: 8.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2.4rem;
  padding: 1.6rem;
  box-sizing: border-box;
  border: 0.1rem solid $secondary-color-3;
  border-radius: 0.4rem;
}

.fs-personal-page-request-popup-col {
  position: relative;
  width: 100%;
  height: 100%;

  h5 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    color: $site-color-1;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $site-color-1;
  }
}

.fs-personal-page-request-popup-form {
  width: 100%;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
}

.fs-personal-page-request-popup-field {
  width: calc(50% - 1.2rem);
  padding-top: 2.4rem;
}

.fs-personal-page-request-popup-buttons {
  width: calc(50% - 1.2rem);
  padding-top: 3.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    border-radius: 0.4rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    outline: none;
    margin-left: 2.4rem;
    cursor: pointer;

    &:nth-child(1) {
      border: 0.1rem solid $secondary-color-2;
      background-color: transparent;
      color: $secondary-color-1;
    }

    &:nth-child(2) {
      border: 0.1rem solid $secondary-color-1;
      background-color: $secondary-color-1;
      color: $revert-color;
    }

    &:only-child {
      border: 0.1rem solid $secondary-color-1;
      background-color: $secondary-color-1;
      color: $revert-color;
    }
  }
}

.fs-personal-page-req-field-label {
  display: block;
  position: relative;

  span {
    display: block;
    margin-bottom: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $site-color-2;
  }

  input:not(.fs-tel-international) {
    width: 100%;
    height: 4.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1;
    box-sizing: border-box;
    border: 0.1rem solid $site-color-3;
    outline: none;
    border-radius: 0.4rem;

    &::placeholder {
      color: $site-color-3;
    }
  }
}

.fs-personal-tab-take-role {
  width: 100%;
  height: 100%;
  padding: 9.4rem 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  p {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-2;
    margin-top: 0;
    margin-bottom: 2.4rem;
  }

  a {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-1;
    color: $revert-color;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border-radius: 0.4rem;
    text-decoration: none;
  }
}

.fs-sale-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba($site-color-1, 0.4);
  z-index: 9;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  &.active {
    display: flex;
  }
}

.fs-sale-details-modal-inner {
  width: 100%;
  max-width: 107.4rem;
  height: 100%;
  max-height: 74rem;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);
  border-radius: 0.4rem;
  padding: 3.2rem 2.4rem;
  box-sizing: border-box;
  position: relative;

  button {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: $site-color-2;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.fs-sale-details-modal-title {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $secondary-color-3;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.fs-sale-details-modal-subtitle {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.8rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
}

.fs-sale-details-modal-date {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
}

.fs-sale-grouping-type {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 2.4rem;

  p {
    margin-top: 0;
    margin-bottom: 0;
    color: $site-color-2;
    margin-right: 1.2rem;
  }

  span {
    color: $secondary-color-3;
  }
}

.fs-sale-field {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.fs-sale-field-title {
  width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.fs-sale-field-text {
  width: 100%;
  padding: 1.6rem;
  border: 0.1rem solid $secondary-color-3;
  border-radius: 0.4rem;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
}

.fs-sale-field-list {
  width: 100%;
  padding: 1.6rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  background-color: $revert-color;
  border: 0.1rem solid $site-color-3;
  border-radius: 0.4rem;
}

.fs-sale-field-li {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;

  &:not(:last-child) {
    margin-right: 1.2rem;

    &:after {
      content: ",";
    }
  }
}

.answer_to_order_block {
  width: 100%;
  margin-top: 5.6rem;
}

.fs-order-comment {
  width: 83rem;
  position: relative;

  &.error {
    &:after {
      content: attr(data-error-message);
      position: absolute;
      top: calc(100% + 0.6rem);
      left: 0;
      color: $error-color;
      font-size: 1.4rem;
    }

    .order_comment {
      border: 1px solid $error-color;
    }
  }
}

.order_comment {
  width: 83rem;
  max-width: 83rem;
  height: 7.4rem;
  border: 0.1rem solid $site-color-3;
  border-radius: 0.4rem;
  padding: 1rem 1.6rem 3rem;
  outline: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-1;
  resize: vertical;

  &::placeholder {
    color: $site-color-3;
  }
}

.answer_button_group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 3.2rem;
  padding-bottom: 3.1rem;

  button {
    height: 4.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
    align-items: center;
    border: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;

    &.allow {
      background-color: $secondary-color-1;
    }

    &.deni {
      box-shadow: 0 0 0 0.1rem $secondary-color-1 inset;
      color: $secondary-color-1;
      margin-right: 2.4rem;
      background-color: transparent;
    }
  }
}