.fs-product-slider {
  width: 100%;
  margin-bottom: 14.6rem;

  .owl-dots {
    position: absolute;
    bottom: -3.6rem;
    left: 0;
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .owl-dot {
      span {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem;
        background-color: $site-color-3;
      }

      &.active, &:hover {
        span {
          background-color: $secondary-color-3;
        }
      }
    }
  }
}

.fs-product-card {
  width: 100%;
  height: 45.2rem;
  padding: 1rem 1rem 6.6rem;
  box-sizing: border-box;
  border: 0.1rem solid $site-color-3;
  border-radius: 0.4rem;
  position: relative;
  transition: box-shadow 240ms;

  &:hover {
    box-shadow: 0 0.2rem 0.2rem rgba(74, 70, 64, 0.25);

    .fs-open-prod-window {
      filter: blur(0);
      pointer-events: auto;
    }
  }

  &[data-sale] {
    &:before {
      content: attr(data-sale);
      position: absolute;
      top: 1rem;
      left: 1rem;
      border-radius: 0 0 0.4rem 0;
      background-color: #ffffff;
      width: 4.6rem;
      height: 2.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $error-color;
      z-index: 1;
    }
  }

  &.fs-new-product {
    &:after {
      content: attr(data-new);
      position: absolute;
      top: 0.4rem;
      right: 0.4rem;
      width: 4rem;
      height: 4rem;
      background-image: url("./../../../assets/media/images/new-prod-star.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $revert-color;
    }
  }
}

.fs-product-thumbnail-wrapper {
  width: 100%;
  display: block;
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  //
  //a {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //}

  &:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    padding-top: 93.457%;
    pointer-events: none;
  }
}

.fs-product-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.4rem;
  background-color: $site-color-4;
}

.fs-product-name {
  width: 100%;
  padding-top: 1.2rem;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-1;
  margin-top: 0;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 3.6rem;

  a {
    color: inherit;
    text-decoration: none;
    word-break: break-word;
  }
}

.fs-product-category {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $site-color-2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1.6rem;
}

.fs-product-current-price {
  width: 100%;
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-1;

  &:not(:nth-last-child(2)) {
    padding-bottom: 0.4rem;
  }

  &:after {
    content: " " attr(data-price-cur);
  }
}

.fs-product-old-price {
  width: 100%;
  display: block;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: $site-color-2;
  text-decoration: line-through;

  &:after {
    content: " " attr(data-price-cur);
  }
}

.fs-product-action-block {
  height: 4.6rem;
  padding-right: 6.2rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.fs-product-add-to-cart {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  background-color: $secondary-color-1;
  border: none;
  outline: none;
  font-size: 1.8rem;
  color: $revert-color;
  cursor: pointer;
}

.fixed_card_el {
  transition: all 1s;
  transform: scale3d(1, 1, 1);
}

.to_cart_icon {
  top: -18rem !important;
  left: 150.5rem !important;
  transform: scale3d(0, 0, 1);
}

.fs-product-count-calc {
  width: 100%;
  height: 4.6rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  box-sizing: border-box;
  position: relative;
}

.fs-product-count-btn {
  width: 4.8rem;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.4rem;
  color: $site-color-2;

  &[data-action="minus"] {
    left: 0;
  }

  &[data-action="plus"] {
    right: 0;
  }
}

.fs-product-count {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
  border: none;
  outline: none;
  cursor: default;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $site-color-2;
}

.fs-product-add-to-fav {
  position: absolute;
  top: 23.6rem;
  right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: $site-color-2;
  cursor: pointer;

  &.active {
    color: $secondary-color-3;

    &:before {
      content: "\e913";
    }
  }
}

.fs-open-prod-window {
  position: absolute;
  height: 2.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: rgba($site-color-1, 0.5);
  top: 10.5rem;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  filter: blur(10rem);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $revert-color;
  transition: filter 240ms;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}

.fs-not-registered-prod-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($site-color-1, 0.5);
  display: none;
  padding: 2rem;
  z-index: 9;

  &.active {
    display: flex;
  }
}

.fs-not-registered-prod-modal-inner {
  margin: auto;
  width: 100%;
  max-width: 46rem;
  padding: 5rem 2.4rem;
  box-sizing: border-box;
  background-color: $revert-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.4rem;

  p {
    margin-top: 0;
    margin-bottom: 2.4rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $site-color-1
  }

  a {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    background-color: $secondary-color-1;
    color: $revert-color;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}